.navbar {
  box-shadow: 2px 0px 15px #ddd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  opacity: 0.92;
  .navbar-brand {
    padding: 7px 30px 12px;
    img {
      width: 35px;
    }
  }
}
.to-top {
  position: fixed;
  right: 20px;
  bottom: 100px;
  top: inherit;
  cursor: pointer;
  font-size: 25px;
  transition: all .3s;
  padding: 10px;
  &:hover, &:active {
    text-decoration: none;
    font-size: 30px;
  }
}